apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: analytics_db
    user: analytics_user
    secureJsonData:
      password: analytics_password
    jsonData:
      sslmode: disable
      maxOpenConns: 100
      maxIdleConns: 100
      connMaxLifetime: 14400
      timescaledb: false
    isDefault: true
    editable: true
